
@{
    var user = new BEANS.SEG_USUARIO_BE();
    if (Session["Usuario"] != null)
    {
        user = (BEANS.SEG_USUARIO_BE)Session["Usuario"];
    }
}

<style>
    .bigdiv {
        width: 500px;
        height: 40px;
        position: absolute;
        left: 320px;
    }

    .smalldiv {
        width: 500px;
        height: 40px;
        position: absolute;
        left: 120px;
    }

    #logout {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.5384616;
        color: #333333;
        white-space: nowrap;
    }
	.divapp {
		font-size: 32px;
		font-family: 'Poppins', 'Roboto', 'Source Sans Pro', sans-serif;
	}
    .colorAzul {
        background-color: #222840 !important;
        border-color: #222840 !important;
    }
</style>

<!-- Main navbar -->
<div class="navbar navbar-default header-highlight" >
    <div class="navbar-header colorAzul">
        <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/assets/images/logo_light.png" alt=""></a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a id="slide" class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            <li class="dropdown">

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>
                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="media-annotation">4 minutes ago</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="media-annotation">36 minutes ago</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                <div class="media-annotation">2 hours ago</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                <div class="media-annotation">Dec 18, 18:36</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="media-annotation">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        <div id="imgApp" class="bigdiv">
            @if (user.COD_APLICACION != "")
            {
                <div class="divapp">Simulador Pricing</div>
                <input type="text" id="txtCodAplicacion" value="@user.COD_APLICACION" class="hidden" />
            }
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">


                <li class="dropdown">


                    <!--<a class="dropdown-toggle" data-toggle="dropdown">-->
                    @*<i class="caret"></i>*@
                    <!--<a id="logout" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Cerrar Sesi&oacute;n</a>-->
                    <!--</a>-->
                    @if (user != null)
                    {
                        @*<a class="dropdown-toggle" style="color:black;"><i class="icon-home"></i> BANCO THEODOR</a>*@
                        <img src="@Url.Content(@user.IMG_SUSCRIPTOR)" />
                    }



                    @*@if (user != null)
        {
            if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <a class="dropdown-toggle" style="color:black" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Cerrar Sesi&oacute;n</a>
                }
            }
            else
            {
                @Html.ActionLink("Iniciar Sesión", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
            }
        }
        else
        {
            @Html.ActionLink("Iniciar Sesión", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        }*@


                    @*<ul class="dropdown-menu dropdown-menu-right">
            @if (user.Aplicaciones != null)
            {
                foreach (var app in user.Aplicaciones)
                {
                    <li><a class="deutsch" data-id="@app.COD_APLICACION"><i class="@app.ICONO_APLICACION"></i> @app.NOM_APLICACION</a></li>
                }

            }
            @if (user != null)
            {
                if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <li class="divider"></li>
                        <li><a id="logout" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-switch2"></i> Cerrar Sesi&oacute;n</a></li>
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Iniciar Sesión", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
            }
            else
            {
                <li>@Html.ActionLink("Iniciar Sesión", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>*@
                </li>
                </ul>
        </div>

    </div>
</div>
<!-- /main navbar -->


<script>
    $(".deutsch").click(function () {
        var _url = '@Url.Action("Index", "Home", new { id = "_param_" })';
        var _CodAplicacion = $(this).attr('data-id');
        var _url = '@Url.Action("CambiarAplicacion", "SEG", new { CodAplicacion = "_param_" })';
        window.location.href = _url.replace('_param_', encodeURIComponent(_CodAplicacion));
    });

    $('#slide').on('click', function () {
        if ($("#imgApp").hasClass("bigdiv")) {
            $("#imgApp").removeClass("bigdiv").addClass("smalldiv");
        } else {
            $("#imgApp").removeClass("smalldiv").addClass("bigdiv");
        }
    });
</script>

