@{
    var user = new BEANS.SEG_USUARIO_BE();
    if (Session["Usuario"] != null)
    {
        user = (BEANS.SEG_USUARIO_BE)Session["Usuario"];
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DGestión</title>

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Global stylesheets -->
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/17ab0793/www-widgetapi.vflset/www-widgetapi.js" async=""></script>
    <!-- /core JS files -->
    <!-- Nico JS files -->
    <script src="~/assets/otros/string-format/string-format.js"></script>
    <link href="~/assets/otros/toastr/toastr.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/otros/toastr/toastr.js"></script>
    <script src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/assets/otros/numeral/numeral.js"></script>

    <style>
        * {
            font-family: 'Poppins', 'Roboto';
        }

        .tipografia1 {
            font-family: 'Poppins';
        }

        .tipografia2 {
            font-family: 'Roboto';
        }
        .colorAzul {
            background-color: #222840;
            border-color: #222840;
        }
    </style>
</head>
<body>
    <!-- Header -->
    @Html.Partial("_Header")

    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main colorAzul">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="~/assets/images/appIcoKOP.png" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    @if (user != null)
                                    {
                                        <span class="media-heading text-semibold">@user.NOM_USUARIO</span>
                                        <label id="lblCodUsuario" hidden="hidden">@user.COD_USUARIO</label>
                                        <div class="text-size-mini text-muted">
                                            <i class="icon-pin text-size-small"></i> &nbsp;@user.COD_USUARIO
                                        </div>
                                    }


                                </div>
                                @*<div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li>
                                                <a href="#"><i class="icon-cog3"></i></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                <li class="navigation-header"><span>MENÚ</span></li>
                                @if (user.Opciones != null)
                                {
                                    @OpcionHijos(user.Opciones)
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- PÁGINAS DINÁMICAS -->
                    @RenderBody()
                    <!-- Footer -->
                    @Html.Partial("_Footer")
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
</body>
</html>

@helper OpcionHijos(IEnumerable<BEANS.SEG_OPCION_BE> opciones)
{
    foreach (var opcion in opciones)
    {
        var opcionHijo = opcion.OpcionHijo;

        <li>
            @if (opcion.TIP_MENU != "")
            {
                <a><i class="@opcion.ICONO"></i> <span>@opcion.NOM_MENU</span></a>
            }
            else
            {
                @*<a href="@Url.Action(opcion.ACTION_OPCION, opcion.CONTROLLER_OPCION)?idx=@Session["session"].ToString()"><i class="@opcion.ICONO_OPCION"></i> <span>@opcion.NOM_OPCION</span></a>*@
                <a href="@Url.Action(opcion.ACTION, opcion.CONTROLLER)@opcion.PARAMETRO"><i class="@opcion.ICONO"></i> <span>@opcion.NOM_MENU</span></a>
            }

            @if (opcionHijo.Count() > 0)
            {
                <ul>
                    @OpcionHijos(opcionHijo)
                </ul>
            }
        </li>
    }
    if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm2" })){}
        <li>
            <a onclick="javascript:document.getElementById('logoutForm2').submit()" ><i class="icon-switch2" ></i> <span>Cerrar Sesión</span></a>
        </li>
    }

}

@RenderSection("scripts", required: false)

<script>
    $(document).ready(function () {

        $("#slide").click();

        // Create overlay and append to body:
        $('<div id="overlay"/>').css({
            position: 'fixed',
            top: 0,
            left: 0,
            width: '100%',
            height: $(window).height() + 'px',
            opacity: 0.4,
            background: 'lightgray url(@Url.Content("~/assets/images/loader.gif")) no-repeat center'
        }).hide().appendTo('body');
    });

    var urls = {
        SEGApi: {
            RoutePrefix: '@Url.Content("~")' + 'api/SEG',
            GetDataTable_Usuario: function () { return format('{}/{}', this.RoutePrefix, 'GetDataTable_Usuario') },


            //ConsultaUsuario: function () { return format('{}/{}', this.RoutePrefix, 'ConsultaUsuario') },
            //GetUsuariosPorNombre: function (term) { return format('{}/{}/{}', this.RoutePrefix, 'GetUsuariosPorNombre', term) },
            //GetUsuariosCorreoPorNombre: function (term) { return format('{}/{}/{}', this.RoutePrefix, 'GetUsuariosCorreoPorNombre', term) },
            //GetDataTable_Correo: function () { return format('{}/{}', this.RoutePrefix, 'GetDataTable_Correo') },
        },
        XLSApi: {
            RoutePrefix: '@Url.Content("~")' + 'api/XLS',
            GetDataTable_Carga: function () { return format('{}/{}', this.RoutePrefix, 'GetDataTable_Carga') },
        }
    }



    var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)

    $(function () {
        $('.onlyNumber').on('keydown', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) || (/65|67|86|88/.test(e.keyCode) && (e.ctrlKey === true || e.metaKey === true)) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    })

    // load a format
    numeral.register('format', 'percentage', {
        regexps: {
            format: /(%)/,
            unformat: /(%)/
        },
        format: function (value, format, roundingFunction) {
            var space = numeral._.includes(format, ' %') ? ' ' : '',
                output;

            value = value * 100;

            // check for space before %
            format = format.replace(/\s?\%/, '');

            output = numeral._.numberToFormat(value, format, roundingFunction);

            if (numeral._.includes(output, ')')) {
                output = output.split('');

                output.splice(-1, 0, space + '%');

                output = output.join('');
            } else {
                output = output + space + '%';
            }

            return output;
        },
        unformat: function (string) {
            return numeral._.stringToNumber(string) * 0.01;
        }
    });
</script>
