@model webapp.ViewModels.AuxiliarEdit
@{
    ViewBag.Title = "Agencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Theme JS files -->
<script type="text/javascript" src="~/assets/js/core/app.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript" src="~/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/assets/js/pages/form_select2.js"></script>

<!-- /theme JS files -->

<link href="~/assets/css/theodor.css" rel="stylesheet" />

<div class="modal" id="confirmBorrarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro de eliminar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <label>Cod Agencia</label>
                        <input type="text" class="form-control" id="txtCodAgencia" />
                    </div>
                    <div class="form-group">
                        <label>Nombre Agencia</label>
                        <input type="text" class="form-control" id="txtNomAgencia" />
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        @Html.DropDownList("ddlDepartamento", Model.ddlDepartamento, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Provincia</label>
                        @Html.DropDownList("ddlProvincia", Model.ddlProvincia, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Distrito</label>
                        @Html.DropDownList("ddlDistrito", Model.ddlDistrito, new { @class = "select" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                <button type="button" id="btnGrabar" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">
    <!-- Content area -->
    <div class="content" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12">
                <!-- Basic layout-->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <table>
                            <tr>
                                <td class="center"><i class="icon-file-empty icon-custom-style" title="Nuevo" id="btnNuevo"></i><br /><a class="botonera classNuevo">Nuevo</a></td>
                                @*<td class="center"><i class="icon-floppy-disk icon-custom-style " title="Grabar" id="btnGrabar"></i><br /><a class="botonera classGrabar">Grabar</a></td>*@
                                @*<td class="center"><i class="icon-bin icon-custom-style " title="Borrar" id="btnBorrar"></i><br /><a class="botonera classBorrar">Borrar</a></td>*@
                                @*<td class="center"><i class="icon-search4 icon-custom-style" title="Buscar" id="btnBuscar"></i><br /><a class="botonera classBuscar">Buscar</a></td>*@
                            </tr>
                        </table>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="CodUsuario" class="hidden">@Model.CodUsuario</label>
                                    <label id="CodSuscriptor" class="hidden">@Model.CodSuscriptor</label>
                                    @*<label>Agencias</label>*@

                                    <div class="table-responsive">
                                        <table id="tblAgencia" class="table table-bordered"></table>
                                    </div>
                                </div>
                                <!-- /bordered table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var fSelEditar;
    var fSelEliminar;


    $(document).ready(function () {
        var gAccion = "";
        var gCodAgencia = "";

        fSelEditar = function (data) {
            $('#editModal').modal('show');
            $("#txtCodAgencia").val(data.cod_agencia);
            $("#txtNomAgencia").val(data.nom_agencia);
            $("#ddlDepartamento").val('');
            $("#ddlProvincia").val('');
            $("#ddlDistrito").val('');

            $('#txtCodAgencia').prop('disabled', true);
            $("#titulo").text('Editar Registro');
            gAccion = "UPDATE";
        }
        fSelEliminar = function (codAgencia) {
            $('#confirmBorrarModal').modal('show');
            gAccion = "DELETE";
            gCodAgencia = codAgencia;
        }

        $("#btnNuevo,.classNuevo").on("click", function () {
            $("#titulo").text('Nuevo Registro');
            gAccion = "INSERT";
            $('#txtCodAgencia').prop('disabled', false);
            $("#txtCodAgencia, #txtNomAgencia").val('');
            $("#ddlDepartamento").val('').change();
            $("#ddlProvincia,#ddlDistrito").empty();
            $('#editModal').modal('show');
        });
        $("#btnGrabar").on("click", function () {
            fnGrabar();
        });
        $("#btnConfirmar").on("click", function () {
            fnGrabar();
        });

        $("#ddlDepartamento").change(function (e, data) {
            ddlDepartamentoChange(data);
        });
        $("#ddlProvincia").change(function (e, data) {
            ddlProvinciaChange(data);
        });
        function ddlDepartamentoChange(info) {
            let codDepartamento = $("#ddlDepartamento option:selected").val();
            if (codDepartamento == undefined || codDepartamento == null || codDepartamento == "") {
                return;
            }
            $.getJSON('@Url.Action("JSON_DepartamentoChange")', { codDepartamento: codDepartamento }, function (data) {
                $('#ddlProvincia, #ddlDistrito').empty();
                $('#ddlProvincia').append($('<option/>', {
                    value: '',
                    text: '--Selecciona--',
                    selected: true //item.Selected
                }));
                $.each(data, function (index, item) {
                    $('#ddlProvincia').append($('<option/>', {
                        value: item.codUbigeo,
                        text: item.provincia,
                        selected: false //item.Selected
                    }));
                });

            }).done(function () {

            }).always(function () {
            });
        }
        function ddlProvinciaChange(info) {
            let codProvincia = $("#ddlProvincia option:selected").val();
            if (codProvincia == undefined || codProvincia == null || codProvincia == "") {
                return;
            }
            $.getJSON('@Url.Action("JSON_ProvinciaChange")', { codProvincia: codProvincia }, function (data) {
                $('#ddlDistrito').empty();
                $('#ddlDistrito').append($('<option/>', {
                    value: '',
                    text: '--Selecciona--',
                    selected: true //item.Selected
                }));
                $.each(data, function (index, item) {
                    $('#ddlDistrito').append($('<option/>', {
                        value: item.codUbigeo,
                        text: item.distrito,
                        selected: false //item.Selected
                    }));
                });

            }).done(function () {

            }).always(function () {
            });
        }


        function fnGrabar() {
            $("#overlay").show();

            var _obj = {
                cod_agencia: gAccion == "DELETE" ? gCodAgencia : $("#txtCodAgencia").val(),
                nom_agencia: $("#txtNomAgencia").val(),
                departamento: $("#ddlDepartamento").val("option:selected"),
                provincia: $("#ddlProvincia").val("option:selected"),
                distrito: $("#ddlDistrito").val("option:selected"),
            };

            var _reply = {
                ACCION: gAccion,
                MENSAJE: '',
                DATA: JSON.stringify(_obj),
            };

            var _url = '@Url.Action("EditAgencia", "MANT")';
            $.post(_url, _reply).done(function (data) {
                if (data.Status === 200) {
                    toastr.success(data.Message);
                    PlantillaDataTable.draw();
                }
                else {
                    toastr.error(data.Message);
                }
            }).fail(function (e) {
            }).always(function () {
                $("#overlay").hide();
                if (gAccion == "DELETE") {
                    $('#confirmBorrarModal').modal('hide');
                } else {
                    $('#editModal').modal('hide');
                }

            });
        }


        var PlantillaDataTable = $('#tblAgencia').DataTable({
            autoWidth: false,
            responsive: true,
            searching: false,
            ordering: false,
            processing: true,
            serverSide: true,
            stateSave: false,
            lengthChange: false,
            info: false,
            //firstAjax: false,

            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json',
            },

            ajax: {
                url: urls.MANTApi.GetDataTable_Agencia(),
                type: 'GET',
                data: function (data) {
                    var _filter = {
                        accion: 'SELECT',
                        cod_usuario: $("#CodUsuario").text(),
                        cod_suscriptor: $("#CodSuscriptor").text(),
                        //buscar: $("#txtBuscar").val(),
                    };

                    var _order = $.map(data.order, function (item) {
                        return {
                            Property: data.columns[item.column].name,
                            Direction: item.dir
                        };
                    });

                    delete data.columns;
                    delete data.order;
                    delete data.search;

                    data.filter = _filter;
                    data.orderby = _order;
                }
            },
            columns: [
                {
                    title: 'Cod Agencia',
                    data: 'cod_agencia',
                    name: 'cod_agencia',
                    className: 'dt-center',
                },
                {
                    title: 'Nombre Agencia',
                    data: 'nom_agencia',
                    name: 'nom_agencia',
                    className: 'dt-left',
                },
                {
                    title: 'Distrito',
                    data: 'distrito',
                    name: 'distrito',
                    className: 'dt-left',
                },
                {
                    title: 'Provincia',
                    data: 'provincia',
                    name: 'provincia',
                    className: 'dt-left',
                },
                {
                    title: 'Departamento',
                    data: 'departamento',
                    name: 'departamento',
                    className: 'dt-left',
                },
                {
                    title: '&nbsp;',
                    className: 'dt-center',
                    render: function (data, type, full, meta) {
                        let str = "<a class='btn btn-default' onclick='fSelEditar(" + JSON.stringify(full) + ")'>Editar</a>&nbsp;"
                            + "<a class='btn btn-default' onclick='fSelEliminar(" + JSON.stringify(full.cod_agencia) + ")'>Eliminar</a> ";
                        return str;
                    },
                    responsivePriority: 0
                },
            ],

        });

    });

</script>