@model webapp.ViewModels.AuxiliarEdit
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Theme JS files -->
<script type="text/javascript" src="~/assets/js/core/app.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript" src="~/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/assets/js/pages/form_select2.js"></script>
<script src="~/assets/otros/inputmask/inputmask.js"></script>

<!-- /theme JS files -->

<link href="~/assets/css/theodor.css" rel="stylesheet" />

<style>
    table thead tr {
        background-color: #3f444e;
        color: white;
    }

    .tit {
        background-color: #156082;
        color: white;
    }
</style>

<div class="modal" id="confirmBorrarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro de eliminar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Cod. Producto</label>
                                <input type="text" class="form-control" id="txtCodProducto" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Nom. Producto</label>
                                <input type="text" class="form-control" id="txtNomProducto" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Producto Base</label>
                        @Html.DropDownList("ddlProductoBase", Model.ddlProducto, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Tipo Cliente</label>
                        @Html.DropDownList("ddlTipCliente", Model.ddlTipCliente, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Cod. Tip. Amortizacion</label>
                        <input type="text" class="form-control" id="txtCodTipAmortizacion" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Plazo</label>
                                <input type="text" class="form-control" id="txtPlazo" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>TEA</label>
                                <input type="text" class="form-control" id="txtTEA" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Factor Uso Linea</label>
                                <input type="text" class="form-control" id="txtFactorUso" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Factor Conversion Indirectos</label>
                                <input type="text" class="form-control" id="txtFactorConversion" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                <button type="button" id="btnGrabar" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">
    <!-- Content area -->
    <div class="content" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12">
                <!-- Basic layout-->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <table>
                            <tr>
                                <td class="center"><i class="icon-file-empty icon-custom-style" title="Nuevo" id="btnNuevo"></i><br /><a class="botonera classNuevo">Nuevo</a></td>
                                @*<td class="center"><i class="icon-floppy-disk icon-custom-style " title="Grabar" id="btnGrabar"></i><br /><a class="botonera classGrabar">Grabar</a></td>
                                <td class="center"><i class="icon-bin icon-custom-style " title="Borrar" id="btnBorrar"></i><br /><a class="botonera classBorrar">Borrar</a></td>
                                <td class="center"><i class="icon-search4 icon-custom-style" title="Buscar" id="btnBuscar"></i><br /><a class="botonera classBuscar">Buscar</a></td>*@
                            </tr>
                        </table>


                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Cod. Producto</th>
                                                    <th>Producto</th>
                                                    <th>Cod. Producto Base</th>
                                                    <th>Producto Base</th>
                                                    <th>Cod. Tipo Clientes</th>
                                                    <th>Cod. Tipo Amortizacion</th>
                                                    <th>Tipo Amortizacion</th>
                                                    <th>Plazo</th>
                                                    <th>TEA</th>
                                                    <th>Factor Uso Linea</th>
                                                    <th>Factor Conversion Indirectos</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyRORAC">
                                                @{ var odd = 0; var estilo = string.Empty;}
                                                @foreach (var item in Model.producto)
                                                {
                                                    estilo = string.Empty;
                                                    if (item.tipReg.ToUpper().Equals("TIT"))
                                                    {
                                                        odd = 0;
                                                        <tr class="tit">
                                                            <td colspan="12">@item.producto</td>
                                                        </tr>
                                                    }
                                                    if (item.tipReg.ToUpper().Equals("EDT"))
                                                    {
                                                        odd = odd + 1;
                                                        if ((odd % 2) == 0) { estilo = "colorGray"; }

                                                        <tr class="@estilo">
                                                            <td>@item.codProducto</td>
                                                            <td>@item.producto</td>
                                                            <td>@item.strCodProductoBase</td>
                                                            <td>@item.productoBase</td>
                                                            <td>@item.codTipClientes</td>
                                                            <td>@item.codTipAmortizacion</td>
                                                            <td>@item.tipAmortizacion</td>
                                                            <td>@item.plazo</td>
                                                            <td>@item.tea</td>
                                                            <td>@item.factorUsoLinea</td>
                                                            <td>@item.factorConversionIndirectos</td>
                                                            <td>
                                                                <a class='btn btn-default' onclick='fSelEditar(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(item,
Newtonsoft.Json.Formatting.Indented)))'>Editar</a>&nbsp;<a class='btn btn-default' onclick='fSelEliminar(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(item,
Newtonsoft.Json.Formatting.Indented)))'>Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!-- /bordered table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var fSelEditar;
    var fSelEliminar;


    $(document).ready(function () {
        var gAccion = "";
        var gCodTipCliente = "";
        var gCodProducto = 0;

        $("#txtTEA,#txtFactorUso,#txtFactorConversion").inputmask({
            alias: "decimal",
            radixPoint: ".",
            digits: "2",
            rightAlign: false,
            integerDigits: 5,
            digitsOptional: true,
            allowPlus: true,
            allowMinus: true,
            placeholder: "0",
            min: 0,
            max: 100,
            numericInput: true,
        });
        $('#txtPlazo').inputmask({
            'alias': 'decimal',
            'groupSeparator': ',',
            'autoGroup': true,
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00'
        });

        fSelEditar = function (data) {
            console.log(data);
            $('#editModal').modal('show');
            $("#txtCodProducto").val(data.codProducto).change();
            $("#txtNomProducto").val(data.producto).change();
            $("#ddlProductoBase").val(data.strCodProductoBase).change();
            $("#ddlTipCliente").val(data.codTipCliente).change();
            $("#txtCodTipAmortizacion").val(data.codTipAmortizacion).change();
            $("#txtPlazo").val(data.plazo).change();
            $("#txtTEA").val(data.tea).change();
            $("#txtFactorUso").val(data.factorUsoLinea).change();
            $("#txtFactorConversion").val(data.factorConversionIndirectos).change();

            //$('#ddlTipCliente,#ddlProducto').prop('disabled', true);
            $("#titulo").text('Editar Registro');
            gAccion = "UPDATE";
        }
        fSelEliminar = function (data) {
            $('#confirmBorrarModal').modal('show');
            gAccion = "DELETE";
            console.log(data)
            gCodTipCliente = data.codTipCliente;
            gCodProducto = data.codProductoBase;
        }

        $("#btnNuevo,.classNuevo").on("click", function () {
            $("#titulo").text('Nuevo Registro');
            gAccion = "INSERT";
            $('#ddlTipCliente,#ddlProducto').prop('disabled', false);
            $("#txtRoracObjetivo, #txtAutonomiaComercial").val('');
            $("#ddlTipCliente, #ddlProducto").val('').change();
            $('#editModal').modal('show');
        });
        $("#btnGrabar").on("click", function () {
            fnGrabar();
        });
        $("#btnConfirmar").on("click", function () {
            fnGrabar();
        });

        function fnCargarLista() {
            $.getJSON('@Url.Action("JSON_RORACObjectivo_Refresh")', function (data) {
                $("#tbodyRORAC").empty();
                var odd = 0;
                var estilo = "";
                var cadena = "";
                $.each(data, function (index, item) {
                    estilo = "";
                    if (item.tipReg == "TIT") {
                        odd = 0;
                        cadena += "<tr class='tit'><td colspan='8'>" + item.tipCliente +"</td></tr>";
                    }
                    if (item.tipReg == "EDT") {
                        odd = odd + 1;
                        if ((odd % 2) == 0) { estilo = "colorGray"; }
                        cadena += "<tr class=" + estilo + ">";
                        cadena += "<td>" + item.codPersoneria + "</td>";
                        cadena += "<td>" + item.codTipCliente + "</td>";
                        cadena += "<td>" + item.tipCliente + "</td>";
                        cadena += "<td>" + item.codProductoBase + "</td>";
                        cadena += "<td>" + item.productoBase + "</td>";
                        cadena += "<td><input type='text' class='form-control' value='" + item.roracObjetivo + "'' /></td>";
                        cadena += "<td><input type='text' class='form-control' value='" + item.autonomiaComercial + "'' /></td>";
                        cadena += "<td><a class='btn btn-default' onclick='fSelEditar(" + JSON.stringify(item) + ")'>Editar</a>&nbsp;<a class='btn btn-default' onclick='fSelEliminar(" + JSON.stringify(item) + ")'>Eliminar</a></td>";
                        cadena += "</tr>";
                    }
                });
                $("#tbodyRORAC").append(cadena);
            }).done(function () {

            });
        }

        function fnGrabar() {
            $("#overlay").show();

            var _obj = {
                codTipCliente: gAccion == "DELETE" ? gCodTipCliente : $("#ddlTipCliente option:selected").val(),
                codProductoBase: gAccion == "DELETE" ? gCodProducto : $("#ddlProducto option:selected").val(),
                RORACObjetivo: $("#txtRORACObjetivo").val(),
                autonomiaComercial: $("#txtAutonomiaComercial").val(),
            };

            var _reply = {
                ACCION: gAccion,
                MENSAJE: '',
                DATA: JSON.stringify(_obj),
            };

            var _url = '@Url.Action("EditRORACObjetivo", "MANT")';
            $.post(_url, _reply).done(function (data) {
                if (data.Status === 200) {
                    toastr.success(data.Message);
                    fnCargarLista();
                    //PlantillaDataTable.draw();
                }
                else {
                    toastr.error(data.Message);
                }
            }).fail(function (e) {
            }).always(function () {
                $("#overlay").hide();
                if (gAccion == "DELETE") {
                    $('#confirmBorrarModal').modal('hide');
                } else {
                    $('#editModal').modal('hide');
                }

            });
        }
    });

</script>