@model webapp.ViewModels.AuxiliarEdit
@{
    ViewBag.Title = "RoracObjetivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Theme JS files -->
<script type="text/javascript" src="~/assets/js/core/app.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
<script type="text/javascript" src="~/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/assets/js/pages/form_select2.js"></script>
<script src="~/assets/otros/inputmask/inputmask.js"></script>

<!-- /theme JS files -->

<link href="~/assets/css/theodor.css" rel="stylesheet" />

<style>
    table thead tr {
        background-color: #3f444e;
        color: white;
    }

    .tit {
        background-color: #156082;
        color: white;
    }
</style>

<div class="modal" id="confirmBorrarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro de eliminar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <label>Tipo Cliente</label>
                        @Html.DropDownList("ddlTipCliente", Model.ddlTipCliente, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Producto Base</label>
                        @Html.DropDownList("ddlProducto", Model.ddlProducto, new { @class = "select" })
                    </div>
                    <div class="form-group">
                        <label>Rorac Objetivo</label>
                        <input type="text" class="form-control" id="txtRORACObjetivo" />
                    </div>
                    <div class="form-group">
                        <label>Autonomia Comercial</label>
                        <input type="text" class="form-control" id="txtAutonomiaComercial" />
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                <button type="button" id="btnGrabar" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="container-fluid">
    <!-- Content area -->
    <div class="content" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12">
                <!-- Basic layout-->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <table>
                            <tr>
                                <td class="center"><i class="icon-file-empty icon-custom-style" title="Nuevo" id="btnNuevo"></i><br /><a class="botonera classNuevo">Nuevo</a></td>
                                <td class="center"><i class="icon-floppy-disk icon-custom-style " title="Grabar" id="btnGrabar"></i><br /><a class="botonera classGrabar">Grabar</a></td>
                                <td class="center"><i class="icon-bin icon-custom-style " title="Borrar" id="btnBorrar"></i><br /><a class="botonera classBorrar">Borrar</a></td>
                                @*<td class="center"><i class="icon-search4 icon-custom-style" title="Buscar" id="btnBuscar"></i><br /><a class="botonera classBuscar">Buscar</a></td>*@
                            </tr>
                        </table>


                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Cod. Personeria</th>
                                                    <th>Cod. Tipo Cliente</th>
                                                    <th>Tipo Cliente</th>
                                                    <th>Cod. Producto Base</th>
                                                    <th>Producto Base</th>
                                                    <th>RORAC Objetivo</th>
                                                    <th>Autonomia Comercial</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var odd = 0; var estilo = string.Empty;}
                                                @foreach (var item in Model.mantRorac)
                                                {
                                                    estilo = string.Empty;
                                                    if (item.tipReg.Equals("TIT"))
                                                    {
                                                        odd = 0;
                                                        <tr class="tit">
                                                            <td colspan="7">@item.tipCliente</td>
                                                        </tr>
                                                    }
                                                    if (item.tipReg.Equals("EDT"))
                                                    {
                                                        odd = odd + 1;
                                                        if ((odd % 2) == 0) { estilo = "colorGray"; }

                                                        <tr class="@estilo">
                                                            <td>@item.codPersoneria</td>
                                                            <td>@item.codTipCliente</td>
                                                            <td>@item.tipCliente</td>
                                                            <td>@item.codProductoBase</td>
                                                            <td>@item.productoBase</td>
                                                            <td>
                                                                <input type="text" class="form-control" value="@item.roracObjetivo" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" value="@item.autonomiaComercial" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!-- /bordered table -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var fSelEditar;
    var fSelEliminar;


    $(document).ready(function () {
        var gAccion = "";
        var gCod = "";

        $("#txtRORACObjetivo,#txtAutonomiaComercial").inputmask({
            alias: "decimal",
            radixPoint: ".",
            digits: "2",
            rightAlign: false,
            integerDigits: 5,
            digitsOptional: true,
            allowPlus: true,
            allowMinus: true,
            placeholder: "0",
            min: 0,
            max: 100,
            numericInput: true,
        });

        fSelEditar = function (data) {
            $('#editModal').modal('show');
            $("#txtCodFuncionario").val(data.cod_funcionario);
            $("#txtNomFuncionario").val(data.nom_funcionario);
            $("#ddlUsuario").val(data.ide_usuario).change();
            $("#ddlAgencia").val(data.cod_agencia).change();
            $("#ddlBanca").val(data.cod_personeria).change();

            $('#txtCodFuncionario').prop('disabled', true);
            $("#titulo").text('Editar Registro');
            gAccion = "UPDATE";
        }
        fSelEliminar = function (cod) {
            $('#confirmBorrarModal').modal('show');
            gAccion = "DELETE";
            gCod = cod;
        }

        $("#btnNuevo,.classNuevo").on("click", function () {
            $("#titulo").text('Nuevo Registro');
            gAccion = "INSERT";
            //$('#txtCodFuncionario').prop('disabled', false);
            $("#txtRoracObjetivo, #txtAutonomiaComercial").val('');
            $("#ddlTipCliente, #ddlProducto").val('').change();
            $('#editModal').modal('show');
        });
        $("#btnGrabar").on("click", function () {
            fnGrabar();
        });
        $("#btnConfirmar").on("click", function () {
            fnGrabar();
        });


        function fnGrabar() {
            $("#overlay").show();

            var _obj = {
                cod_tip_cliente: $("#ddlTipCliente option:selected").val(),
                cod_producto_base: $("#ddlProducto option:selected").val(),
                RORACObjetivo: $("#txtRORACObjetivo").val(),
                autonomia_comercial: $("#txtAutonomiaComercial").val(),
            };

            var _reply = {
                ACCION: gAccion,
                MENSAJE: '',
                DATA: JSON.stringify(_obj),
            };

            var _url = '@Url.Action("EditRORAC", "MANT")';
            $.post(_url, _reply).done(function (data) {
                if (data.Status === 200) {
                    toastr.success(data.Message);
                    PlantillaDataTable.draw();
                }
                else {
                    toastr.error(data.Message);
                }
            }).fail(function (e) {
            }).always(function () {
                $("#overlay").hide();
                if (gAccion == "DELETE") {
                    $('#confirmBorrarModal').modal('hide');
                } else {
                    $('#editModal').modal('hide');
                }

            });
        }
    });

</script>